<div id="dev-wrap">
  <h1>dev</h1>

  <% @working_copies.each do |working_copy| %>
    <div class="working-copy" data-name="<%= working_copy[:name] %>">
      <span class="title"><%= working_copy[:name] %></span>
      <span class="revision"><%= working_copy[:current_revision][:revision][0..7] %></span>
      <span class="revision_title"><%= working_copy[:current_revision][:title][0..99] %></span>
      <span class="buttons">
        <button
          class="button btn-xs changes-button"
          data-remote="true"
          data-url="/dev/git_status/<%= working_copy[:name] %>"
          data-working-copy="<%= working_copy[:html_name] %>"
        ><%= @changes[working_copy[:name]].size %></button>
        <button
          class="button btn-xs btn-primary pull-button"
          data-remote="true"
          data-url="/dev/git_pull/<%= working_copy[:name] %>"
        >pull</button>
      </span>
    </div>
    <div id="working-copy-detail-<%= working_copy[:html_name] %>"
      class="working-copy-detail"
      data-name="<%= working_copy[:name] %>"
      data-path="<%= working_copy[:path] %>"
      data-mode="status">
      <div class="header">
        <span class="title">Changes:</span>
        <span class="buttons">
          <button class="button btn-xs btn-icon checkbox-button">
            <i class="fa fa-check-square"></i>
          </button>
          <button class="button btn-xs btn-icon refresh-button">
            <i class="fa fa-sync"></i>
          </button>
          <button class="button btn-xs btn-icon detail-close-button">
            <i class="fa fa-times"></i>
          </button>
        </span>
      </div>
      <div class="content">

      </div>
      <div class="selection-buttons">
          selection:&nbsp;
          <button class="button btn-xs commit-button" data-toggle="modal" data-target="#commitModal">
            commit
          </button>
      </div>
    </div>
  <% end %>
  <div class="modal fade" id="commitModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Commit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <form action="/dev/commit" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>" />
                <input type="hidden" name="working_copy" />
                <div class="title">Would you care to add a comment?</div>
                <textarea id="comment" rows="5" cols="40" placeholder="say something"></textarea>
                <div class="files">

                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary commit-button">Commit</button>
        </div>
      </div>
    </div>
  </div>
</div>
