<div id="dev-wrap">
  <h1>dev</h1>

  <% @working_copies.each do |working_copy| %>
    <div class="working-copy" data-name="<%= working_copy[:name] %>">
      <span class="title"><%= working_copy[:name] %></span>
      <span class="revision"><%= working_copy[:current_revision][:revision][0..7] %></span>
      <span class="revision_title"><%= working_copy[:current_revision][:title][0..49] %></span>
      <span class="buttons">
        <button
          class="button btn-xs changes-button"
          data-remote="true"
          data-url="/dev/git_status/<%= working_copy[:name] %>"
          data-working-copy="<%= working_copy[:html_name] %>"
        ><%= @changes[working_copy[:name]].size %></button>
        <button
          class="button btn-xs btn-primary pull-button"
          data-remote="true"
          data-url="/dev/git_pull/<%= working_copy[:name] %>"
        >pull</button>
      </span>
    </div>
    <div id="working-copy-detail-<%= working_copy[:html_name] %>"
      class="working-copy-detail"
      data-name="<%= working_copy[:name] %>"
      data-path="<%= working_copy[:path] %>"
      data-mode="status">
      <div class="header">
        <span class="title">Changes:</span>
        <span class="buttons">
          <button class="button btn-xs btn-dark btn-icon refresh-button">
            <i class="fa fa-sync"></i>
          </button>
          <button class="button btn-xs btn-dark btn-icon switch-to-diff-button">
            <i class="fa fa-search"></i>
          </button>
          <button class="button btn-xs btn-dark btn-icon detail-close-button">
            <i class="fa fa-times"></i>
          </button>
        </span>
      </div>
      <div class="content">

      </div>
    </div>
  <% end %>
</div>
