<h3 title="for <%= @machine.name %>">disk</h3>
<div class="command_result">
<table>
<tr>
  <% ["path", "mount point", "size", "used", "free", "full"].each do |name| %>
    <th id="<%= name %>"><%= name %></th>
  <% end %>
</tr>
<% @machine.disk_free("hide_system_files" => true).sort_by { |row| [ row[:path], row[:mount_point] ].join(":") }.each do |row| %>
<tr>
  <% %i|path mount_point size used free full|.each do |col| %>
    <td id="<%= col %>"><%= row[col] %></td>
  <% end %>
</tr>
<% end %>
</table>
</div>
