<h2>Pods</h2>

<table>
  <thead>
    <th>Namespace</th>
    <th>Name</th>
    <th>Status</th>
    <th>Restarts</th>
    <th>Age</th>
  </thead>
  <tbody>
    <% @pods.each do |pod| %>
    <tr>
      <td><%= pod[:namespace] %></td>
      <td><%= pod[:name] %></td>
      <td><%= pod[:status] %> (<%= pod[:ready] %>)</td>
      <td><%= pod[:restarts] %></td>
      <td><%= pod[:age] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
