<h1><%= @machine.name %></h1>
<br/>

<% if @reachable %>

<h3>distro: <%= @machine.distro %></h3>
<h3>connected as : <%= @machine.ssh('whoami') %></h3>

<br/>

<%= render partial: "disk_free" %>

<br/>

<%= render partial: "vms", locals: {
  :data => @vms
  } if @vms %>

<%= render partial: "services", locals: {
  :data => @services
  } %>

<% else %>

<h3>unreachable</h3>

The machine is currently not reachable through SSH.

<% end %>
