<div id="<%= host["name"] %>" class="host">
  <div class="title"><%= host["name"] %></div>
  <% if host.has_key?("vms") %>
  <div>
    <% host["vms"].each do |vm| %>
    <div class="vm">
      <span title="<%= vm["readable_state"] %>" class="vm_state_indicator <%= vm["readable_state"] %>">&nbsp;</span>
      <a href="/machine/<%= vm["name"] %>.<%= host["name"] %>"><%= vm["name"] %></a>
      <%
      action = icon = nil
      case vm["readable_state"]
      when "running"
        action = "stop"
        icon = "fa-stop"
      when "shut_off"
        action = "start"
        icon = "fa-play"
      end
      action += "_vm"
      %>
      <span class="button_wrap">
        <%= link_to "/sandbox/#{action}?host=#{ host["name"] }&name=#{ vm["name"] }",
                    remote: true,
                    class: "vm_action",
                    data: {
                      host: host["name"]
                    } do %>
          <i class="fa <%= icon %>"></i>
        <% end %>
      </span>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
