<h2>Self-Test</h2>
<ul>
  <li>name: <%= @identity %></li>
  <li>hostname: <tt><%= $vop.system_call("hostname") %></tt>
  <li>SSH: <tt><%= ! $vop.ssh("id").nil? %></tt></li>
  <li>sudo: <tt><%= ! $vop.system_call("sudo -l").nil? %></tt></li>
  <li>local root: <tt><%= $vop.system_call("sudo id") %></tt></li>
</ul>
<br/>

<h2>Search Path</h2>
<div>
  <% $vop.show_search_path.each do |path| %>
  <div><%= path %></div>
  <% end %>
</div>


<br/>

<h2>Plugins</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <!--th>Enabled</th-->
    </tr>
  </thead>
  <tbody>
    <% @plugins.each do |plugin| %>
    <tr>
      <td><%= plugin[:name] %></td>
      <!--td><i class="fa fa-check-square-o"></i></td-->
    </tr>
    <% end %>
  </tbody>
</table>
