<h2>Virtual Machines</h2>

<table id="vms">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <% @vms.each do |vm| %>
    <tr>
      <td class="buttons">
        <a href="/sandbox/<%= vm[:action_name] %>?name=<%= vm[:name] %>">
          <i class="fa <%= vm[:icon_name] %>"></i>
        </a>
      </td>
      <td><%= vm[:name] %></td>
      <td><%= vm[:state] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
