<h2>Basic Info</h2>
<p>SSH: <%= @ssh_status ? @ssh_status : "no connection" %></p>
<p>Last Scan:
  <span id="last_scan"><%= @scan["scan_from"] ? time_ago_in_words(@scan["scan_from"]) + " ago" : "never" %></span>
  &nbsp;
  <span class="scan-button" data-machine="<%= @machine.name %>">
    <button class="btn btn-xs btn-primary">scan</button>
  </span>
</p>

<% if @ssh_status %>
  <p>hostname: <%= @machine.hostname %></p>
  <p>distro: <%= @scan["distro"] %></p>
  <% unless @internal_ip.nil? %>
  <p>internal IP: <%= @machine.internal_ip %></p>
  <% end %>
<% end %>
