<%
time_picker ||= false
show_legend ||= false
%>

<div class="wrapper col col-12" id="trafficGraph" data-last-bucket="<%= @last_bucket %>">
  <div class="content shadow-sm bg-white">
    <h2>Traffic</h2>

    <% if time_picker %>
    <div class="dropdown" id="intervalDropdown" data-interval="<%= @interval %>">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="intervalDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= @interval %> minutes
      </button>
      <div class="dropdown-menu" aria-labelledby="intervalDropdownButton">
        <a class="dropdown-item" data-interval="30" href="#">30 minutes</a>
        <a class="dropdown-item" data-interval="360" href="#">6 hours</a>
      </div>
    </div>
    <% end %>

    <div class="canvas-wrapper">
      <canvas id="myChart"></canvas>
    </div>
    <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var lastBucket = <%= @last_bucket %>;
    var myChart = new Chart(ctx, {
        type: 'line',
        responsive: true,
        maintainAspectRatio: false,
        data: {
            labels: <%= raw @labels %>,
            datasets: [{
                label: '# of successful calls',
                data: <%= @success %>,
                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                borderColor: 'rgba(255, 206, 86, 1)',
                pointBackgroundColor: 'rgba(255, 206, 86, 1)',
                pointBorderColor: 'rgba(255, 206, 86, 1)',
                borderWidth: 1
            },
            {
                label: '# of failed calls',
                data: <%= @failed %>,
                backgroundColor: 'rgba(255, 16, 16, 0.2)',
                borderColor: 'rgba(255, 16, 16, 1)',
                pointBackgroundColor: 'rgba(255, 16, 16, 1)',
                pointBorderColor: 'rgba(255, 16, 16, 1)',
                borderWidth: 1
            }
          ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            legend: {
              display: <%= show_legend %>,
              position: "bottom"
            }
        }
    });
    </script>
  </div>
</div>
