<h1>Machines</h1>

<div id="machine-list">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">SSH</th>
        <th scope="col">Name</th>
        <th scope="col">Last Seen</th>
      </tr>
    </thead>
    <tbody>
      <% @machines.each_with_index do |machine, idx| %>
      <tr>
        <th scope="row"><%= idx %></th>
        <td><%= machine["ssh_status"] %></td>
        <td><%= link_to "/machines/#{machine["name"]}" do %><span class="name"><%= machine["name"] %></span><% end %></td>
        <td><%= machine["last_seen"] ? time_ago_in_words(machine["last_seen"]) : "-" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
