<div id="machine" class="container-fluid machine" data-machine="<%= @machine.name %>">
  <div class="row">
    <div class="col col-12">
      <h1><%= @machine.name %></h1>
      <p><%= @machine.metadata["type"] %></p>
    </div>
  </div>

  <div class="row">
    <%= render partial: "basic_info" %>
    <%= render partial: "services" %>
    <% if @services && @services.include?("apache.apache") %>
      <%= render partial: "domains" %>
    <% end %>
  </div>

  <div class="row">
    <% if @ssh_status %>
      <%= render partial: "disk" %>
      <%= render partial: "memory" %>
      <% if @services && @services.include?("apache.apache") %>
        <%= render partial: "graph", locals: { time_picker: false } %>
      <% end %>
    <% end %>
  </div>

  <% if @services && @services.include?("apache.apache") %>
  <div class="row">
    <%= render partial: "log" %>
  </div>
  <% end %>

  <% if @scan["packages"] && @scan["packages"].size > 0 %>
  <div class="row">
    <%= render partial: "packages" %>
  </div>
  <% end %>
</div>
