<div id="machine" class="container-fluid machine" data-machine="<%= @machine.name %>">
  <div class="row" id="header">
    <div class="col col-12">
      <h1><%= @machine.name %></h1>
      <p><%= @machine.metadata["type"] %></p>
    </div>
  </div>

  <div class="row">
    <div class="col col-8">
      <div class="row">
        <%= render_box "basic_info" %>
        <% if @services %>
          <%= render_box "services", 4 %>
          <% if @services.include?("apache.apache") %>
            <%= render_box "domains", 4 %>
          <% end %>
        <% end %>
      </div>
      <% if @ssh_status %>
        <div class="row">
            <%= render_box "disk" %>
            <%#= render_box "memory" %>
            <%= render_box "memory_doughnut" %>
        </div>
      <% end %>
    </div>
    <div class="col col-4">
      <div class="row">
        <% if @has_traffic_log %>
          <%= render partial: "graph", locals: { time_picker: false } %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @installation_status == "provisioning" %>
  <div class="row">
    <%= render partial: "screenshot" %>
  </div>
  <% end %>

  <% if @has_traffic_log %>
  <div class="row">
    <%= render partial: "log" %>
  </div>
  <% end %>

  <% if @scan["packages"] && @scan["packages"].size > 0 %>
  <div class="row">
    <%= render partial: "packages" %>
  </div>
  <% end %>
</div>
