<div id="machine" class="container">
  <div class="row">
    <div class="col col-12">
      <h1><%= @machine.name %></h1>
      <p><%= @machine.metadata["type"] %></p>
    </div>
  </div>

  <div class="row">
    <div id="basic_info" class="wrapper col col-4">
      <div class="content">
        <h2>Basic Info</h2>
        <p>SSH: <%= @ssh_status ? @ssh_status : "nil" %></p>
        <p>Last Scan:
          <span class="last_span"><%= @scan["scan_from"] ? time_ago_in_words(@scan["scan_from"]) + " ago" : "never" %></span>
          &nbsp;
          <span class="scan_button" data-machine="<%= @machine.name %>">
            <input type="button" value="scan" />
          </span>
        </p>

        <% if @ssh_status %>
          <p>hostname: <%= @machine.hostname %></p>
          <p>distro: <%= @scan["distro"] %></p>
          <% unless @internal_ip.nil? %>
          <p>internal IP: <%= @machine.internal_ip %></p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="memory" class="wrapper col col-8">
      <div class="content">
        <h2>Memory</h2>

        <table>
          <thead>
            <% %w|area total used available free buffer|.each do |col| %>
              <td><%= col %></td>
            <% end %>
          </thead>
          <tbody>
          <% @machine.memory(unit: "m").each do |row| %>
          <tr>
            <% %w|area total used available free buffer|.each do |col| %>
              <td><%= row[col] %></td>
            <% end %>
          </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <% if @scan["services"] && @scan["services"].size > 0 %>
  <div class="row">
    <div id="services" class="wrapper col col-4">
      <div class="content">
        <h2>Services</h2>
        <ul>
          <% @scan["services"].each do |service| %>
          <li>
            <%= service %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>

  <% if @services && @services.include?("apache.apache") %>
  <div class="row">
    <div id="vhosts" class="wrapper col col-4">
      <div class="content">
        <h2>VHosts</h2>
        <ul>
          <% @machine.vhosts.each do |vhost| %>
          <li>
            <%= vhost.name %>
          <li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>

  <% if @scan["packages"] && @scan["packages"].size > 0 %>
  <div class="row">
    <div id="package" class="wrapper col col-4">
      <div class="content">
        <h2>Packages</h2>
        <ul>
          <% @scan["packages"].each do |package| %>
          <li>
            <%= package["name"] %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
</div>
