<div id="machine" class="container-fluid">
  <div class="row">
    <div class="col col-12">
      <h1><%= @machine.name %></h1>
      <p><%= @machine.metadata["type"] %></p>
    </div>
  </div>

  <div class="row">
    <div id="basic_info" class="wrapper col col-6">
      <div class="content">
        <h2>Basic Info</h2>
        <p>SSH: <%= @ssh_status ? @ssh_status : "nil" %></p>
        <p>Last Scan:
          <span class="last_span"><%= @scan["scan_from"] ? time_ago_in_words(@scan["scan_from"]) + " ago" : "never" %></span>
          &nbsp;
          <span class="scan-button" data-machine="<%= @machine.name %>">
            <button class="btn btn-xs btn-primary">scan</button>
          </span>
        </p>

        <% if @ssh_status %>
          <p>hostname: <%= @machine.hostname %></p>
          <p>distro: <%= @scan["distro"] %></p>
          <% unless @internal_ip.nil? %>
          <p>internal IP: <%= @machine.internal_ip %></p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="services" class="wrapper col">
      <div class="content">
        <h2>Services</h2>
        <% if @scan["services"] && @scan["services"].size > 0 %>
        <ul>
          <% @scan["services"].each do |service| %>
          <li>
            <%= service %>
          </li>
          <% end %>
        </ul>
        <% end %>
        <button id="add-service" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#addServiceModal">
          add service
        </button>
      </div>
    </div>

  </div>

  <div class="row">
    <div id="disk" class="wrapper col">
      <div class="content">
        <h2>Disk</h2>

        <table>
          <thead>
            <% %w|mount size full free progress|.each do |col| %>
              <td><%= col %></td>
            <% end %>
          </thead>
          <tbody>
          <% @machine.disk_free.each do |row|
              full = row[:full].split("%").first.to_i
          %>
          <tr>
            <td><%= row[:mount_point][0..63] %></td>
            <td><%= row[:size] %></td>
            <td><%= row[:full] %></td>
            <td><%= row[:free] %></td>
            <td>
              <div class="progress">
                <div class="progress-bar" role="progressbar"
                  style="width: <%= full %>%"
                  aria-valuenow="<%= full %>"
                  aria-valuemin="0" aria-valuemax="100">
                  <span class="progress-text" role="title" title="<%= full %>% full"><%= full %>%</span>
                </div>
              </div>
            </td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div id="memory" class="wrapper col">
      <div class="content">
        <h2>Memory</h2>

        <table>
          <thead>
            <% %w|area total used available free buffer|.each do |col| %>
              <td><%= col %></td>
            <% end %>
          </thead>
          <tbody>
          <% @machine.memory(unit: "m").each do |row| %>
          <tr>
            <% %w|area total used available free buffer|.each do |col| %>
              <td><%= row[col] %></td>
            <% end %>
          </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <% if @services && @services.include?("apache.apache") %>
  <div class="row">
    <div id="vhosts" class="wrapper col col-4">
      <div class="content">
        <h2>Domains</h2>
        <ul>
          <% @domains.each do |vhost| %>
          <li>
            <%= vhost["domain"] %>
          <li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>

  <% if @scan["packages"] && @scan["packages"].size > 0 %>
  <div class="row">
    <div id="package" class="wrapper col col-4">
      <div class="content">
        <h2>Packages</h2>
        <ul>
          <% @scan["packages"].each do |package| %>
          <li>
            <%= package["name"] %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>

  <div class="modal fade" id="addServiceModal" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addServiceModalLabel">Add Service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <button type="button" id="dropdownMenuButton"
                class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
              >select service</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% @installables.each do |installable| %>
                  <a class="dropdown-item" href="#"><%= installable.name %></a>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <!--h6>Parameters:</h6-->
              <form>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>" />
                <input type="hidden" name="machine" value="<%= @machine.name %>" />
                <input type="hidden" class="service" name="service" />
                <div class="params container"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary add-service-button">Install</button>
        </div>
      </div>
    </div>
  </div>
</div>
