<span id="logo">
  <span class="helper"></span>
  <img src="<%= image_path("dblarr_small.png") %>" />
  <span class="title">virtualop</span>
</span>

<span id="toolbar">
  <span class="items">
    <span class="item">
      <a href="/map"><i class="fa fa-map"></i></a>
    </span>
    <span class="item">
      <%= link_to machines_path do %>
        <i class="fa fa-list"></i>
      <% end %>
    </span>
    <!-- <span class="item">
      <i class="fa fa-wrench" data-toggle="menu"></i>
    </span> -->
    <span class="item menu">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-wrench" data-toggle="menu"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><%= link_to "plugins", plugins_path %></li>
          <li><%= link_to "commands", commands_path %></li>
          <!-- <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li> -->
        </ul>
      </div>
    </span>
    <% if user_signed_in? %>
    <span class="item">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out-alt"></i>
      <% end %>
    </span>
    <% end %>
  </span>
</span>
