<div class="host" id="<%= host.name.tr(".", "_") %>" data-machine="<%= host.name %>">
  <p class="title">
    <a href="/map/host/<%= host.name %>"><%= host.name %></a>
    <span class="toolbar">
      <i class="fa fa-plus" data-host="<%= host.name.tr('.', '_') %>" data-machine="<%= host.name %>"></i>
    </span>
  </p>
  <% if vms %>
  <ul>
    <li class="vm vm_placeholder" style="display: none">
      <div class="vm_wrapper">
        <form class="new_vm_form">
          <input class="name_placeholder" type="text" placeholder="name" />
          <i class="fa fa-cog" data-toggle="modal" data-target="#newVmSettings"></i>
          <i class="fa fa-times"></i>
        </form>
      </div>
    </li>
    <% vms.each do |vm| %>
    <li class="vm" data-machine="<%= vm["full_name"] %>" data-name="<%= vm["name"] %>">
      <div class="vm_wrapper">
        <span
          class="vm_state_indicator <%= vm["readable_state"] %>"
          title="<%= vm["readable_state"] %>">&nbsp;</span>
        <%= link_to vm["name"], "/machines/#{vm["full_name"]}" %>
        <span class="badge badge-secondary"><%= vm["installation_status"] %></span>
        <span class="servicebar">
          <% (vm["services"] || []).each do |service_name| %>
          <span class="service">
            <img src="/machines/service_icon/<%= service_name %>"/>&nbsp;
          </span>
          <% end %>
        </span>
        <span class="toolbar" style="display: none">
          <i class="fa fa-trash"></i>
        </span>
        <% if vm["domains"] && vm["domains"].size > 0 %>
            <div class="vm_domains">
              <% vm["domains"].each do |domain| %>
              <div class="domain">
                <% if domain["https"] %>
                <span><i class="fa fa-lock"></i></span>
                <% end %>
                <span><%= domain["name"] %></span>
              </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>
  <%= render partial: "new_vm_dialog" %>
</div>
